:root{
    --body-font:Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

body{
    font-family: var(--body-font);
}

p {
}

strong{
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:rgb(39, 66, 138);
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
}

.info{
    color:green;
}

#special{
    color:red;
}

.card{
    margin: 10px;
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 1rem;
    width: 230px;
}

.card .title{
    color:royalblue;
    font-size: 1.3rem;
}

.card .description{
    font-style: italic;
}

.deck{
    display: flex;
    flex-wrap: wrap;
}